html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
}
img {
    max-width: 100%;
    height: 100%;
    vertical-align: top;
}
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
main {
    flex: 1 1 auto;
}

table td {
    height: 30px;
    width: 30px;
    border: 1px solid lightgrey;
    text-align: center;
}

iframe {
    background-color: #eee;
    padding: 20px;
    width: 100%;
    height: 80vh;
    border: none;
    overflow: visible;
}
iframe html {
    height: 100%;
}
footer img {
    height: 30px;
    vertical-align: middle;
}